.about {

    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    }

.about-title {
    font-weight: bolder;
    font-size: 150px;
}

.ab-tit {
    position: relative;
    top: 8.5rem;
    right: 18%;

}

.about-info {
    /* height: 75%;
    width: 65%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CDF2CA;
    


}

.about-div {
    height: 70%;
    width: 65%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.img-about {
    border: 1px solid black;
    /* width: 40%;
    height: 70%; */
}

.blue {

    width: 30rem;
    height: 30rem;
    

    
}
