.about {

    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }

.about-title {
    font-weight: bolder;
    font-size: 150px;
}

.ab-tit {
    position: relative;
    top: 8.5rem;
    right: 22rem;

}

.about-info {
    /* height: 75%;
    width: 65%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;


}

.about-div {
    height: 70%;
    width: 65%;
    display: flex;
    flex-direction: row;
}

.img-about {
    /* width: 33%; */
    width: 36rem;
    height: 40rem;
}

.blue {
    width: 36rem;
    height: 40rem;
    

    
}
