@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 

body {
   background-color: #575757;
   font-family: 'Anton', sans-serif;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100vw;

}