.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 847px;
    height: 648px;
}

.home-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 847px;
    height: 648px;
}